{% extends "layout.html" %}

{%block title%}

Carrito

{% endblock%}

{% block main%}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Descripcion</th>
        <th scope="col">Categoria</th>
        <th scope="col">Platillo</th>
        <th scope="col">Extras</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>

    <tr> <td colspan="9">{{pedido.fecha}} - {{pedido.estado}}</td> 
    </tr>
    {% for detallePedido in pedido.detalles.all%}
    <tr>   
        <td>{{detallePedido.descripcion}}</td>
        <td>{{detallePedido.platillo.categoria.categorias}}</td>
        <td>{{detallePedido.platillo.nombre}}</td>
        <td>
          {% for extras in detallePedido.extras.all%}
          {{extras.nombre}},
          {% endfor %}
        </td>
        <td>{{detallePedido.precioPlatillos}}</td>
        <td>{{detallePedido.cantidadPlatillos}}</td>
        <td>{{detallePedido.get_subtotal}}</td>
      </tr>     
    {% endfor %}
    <tr> <td colspan="6">Total</td> 
      <td>{{pedido.total}}</td>
    </tr> 
    </tbody>
  </table>

  <a href="/realizar-orden/{{pedido.id}}" class="btn btn-primary"> Realizar compra</a>
  


{% endblock%}